<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientWindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClientWindowsFormsApplication1.Properties.Settings>
            <setting name="ClientWindowsFormsApplication1_Glowny_Glowny"
                serializeAs="String">
                <value>http://localhost:51314/Glowny.asmx</value>
            </setting>
            <setting name="ClientWindowsFormsApplication1_Rozgrywki_Rozgrywki"
                serializeAs="String">
                <value>http://localhost:51314/Rozgrywki.asmx</value>
            </setting>
        </ClientWindowsFormsApplication1.Properties.Settings>
    </applicationSettings>
</configuration>